<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%>
<body>

  <%- include('./partials/nav.ejs')%>

    <div class="about-content">
        <h2>About Us</h2>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi itaque eligendi atque magni asperiores dolores quidem voluptates, aliquid culpa nostrum aliquam, ullam nemo omnis ad pariatur nihil? Eligendi incidunt consequuntur explicabo nesciunt magnam consequatur ab, recusandae obcaecati, ea molestias labore?</p>
    </div>

    <%- include('./partials/footer.ejs')%>
</body>
</html>
    
</body>
</html>